<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Conexión a base de datos remota en site4now.net -->
		<add name="BancoDeSangreDB"
     connectionString="Data Source=SQL8005.site4now.net;
                       Initial Catalog=db_aa80ed_bancodesangredb;
                       Persist Security Info=True;
                       User ID=db_aa80ed_bancodesangredb_admin;
                       Password=hect0r&amp;gerard0;
                       Pooling=True;
                       Min Pool Size=0;
                       Max Pool Size=100;
                       MultipleActiveResultSets=False;
                       Connect Timeout=60;
                       Encrypt=True;
                       TrustServerCertificate=True;
                       Packet Size=4096;"
     providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!-- Configuración de seguridad -->
		<add key="SaltKey" value="BancoSangre2025!SecureKey#UFG"/>
		<add key="IntentosMaximos" value="3"/>
		<add key="TiempoBloqueoMinutos" value="15"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>